system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
boot.img
system/system/priv-app/Music/Music.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/data-app/MiMediaEditor/MiMediaEditor.apk
modem.img
